<section>
  <div class="row">
  <div class="col-md-8 col-md-offset-3">
    <h2 style="margin-top: 150px;">Edit <%= resource_name.to_s.humanize %></h2>
    </div>
    <div class="col-md-7 col-md-offset-3" id="disqs-solution" class="profile-editing">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
          <div class="form-group">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true , class: "form-control" , placeholder: "Email"%>
            </div>
          </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <div class="field">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off" ,class: "form-control" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off" , class: "form-control"%>
          </div>
        </div>

        <div class="form-group">
          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<div class="row" >
  <div class="col-md-7 col-md-offset-3" id="disqs-solution" class="delete-account-profile">
    <div>
      <h3>Delete my account</h3>
      <p>Unhappy? <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
  </div>
</div>
<div class="row" style="padding-bottom: 20px; padding-top: 20px;">
  <div class="col-md-8 col-md-offset-3">
    <%= link_to "Back", :back , class: "link-delete" %>
  </div>
</div>
<style type="text/css">
.form-control{
  display: block;
  width: 80%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
</style>