<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="http://localhost:3000/">
                <i class="fa fa-play-circle"></i> <span class="light">Rails</span> Way
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li> 
                    <li>
                      <%= link_to "Tutorials" , tutorials_path %> 
                    </li>
                    <li>
                      <%= link_to "Solutions" , solutions_path %>
                    </li>
                 <% if user_signed_in? %>
                  <li>
                    <%= link_to "Logout" , destroy_user_session_path , :method => :delete %>
                 </li> 
                <% else %>
                    <li>
                      <%= link_to "Sign In" , new_user_session_path %>
                    </li>
                    <li>
                      <%= link_to "Get Started" , new_user_registration_path %>
                    </li> 
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Main-content -->
<div class="main-content">
  <div class="row">
    <div class="col-lg-8">
     <div class="col-md-6">
       <!-- Blog Search Well -->
        <div class="well">
            <h4>Search Tutorials</h4>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
             </div>
             <!-- /.input-group -->
          </div>
      </div>
    </div>
  </div>
              
  <div class="tutorials">
      <%  @tutorials.each do |tutorails|%>
          <h3 class="post-title">
              <%= link_to tutorails.title , tutorial_path(tutorails)%>
          </h3>
          <h4 class="post-subtitle">
              <%= tutorails.description%><br>
              <%= tutorails.position%>
            <hr>
          </h4>
     <% end %> 
  </div>   
</div>
<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; RailsWay 2016</p>
    </div>
</footer>



