<nav class="navbar navbar-custom <%= current_page?('/') ? '' : 'navbar-railsway' %> navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="<%= root_path %>">
                <i class="fa fa-play-circle"></i> <span class="light">Rails</span> Way
            </a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li>
                  <div class="input-group-username">
                    <%= form_tag search_users_path, method: :get do %>
                      <%= text_field_tag :name, '', value: params[:name] %>
                    <% end %>
                  </div>
                </li>
                <li class="hidden">
                    <a href="#page-top"></a>
                </li> 
                <li>
                  <%#= link_to "Tutorials" , tutorials_path %> 
                </li>
                <li>
                  <%= link_to "Solutions" , solutions_path %>
                </li>
                <li>
                  <%= link_to "About Us" ,root_path(:anchor => 'about')%>
                </li>
                <li>
                  <%= link_to "Contact Us" ,root_path(:anchor => 'contact')%>
                </li>
                <% if user_signed_in? %>
                    <li>
                      <%= link_to "Logout" , destroy_user_session_path , :method => :delete %>
                   </li>
                   <li>
                      <%= link_to "Profile" , profile_path(:username)%>
                   </li> 
                    <% if current_user.admin? %>
                      <li>
                        <%= link_to "Admin Panel" , rails_admin.dashboard_path %>
                      </li>
                      <li>
                        <%= link_to "Profile" , edit_user_registration_path %>
                      </li>
                    <% end %> 
                <% end %>
            </ul>
        </div>
    </div>
</nav>
<script type="text/javascript">
   $(document).ready(function(){
     // Add smooth scrolling to all links
     $("a").on('click', function(event) {
        if (window.location.pathname == "/") {
         // Make sure this.hash has a value before overriding default behavior
         if (this.hash !== "") {
           // Prevent default anchor click behavior
           event.preventDefault();

           // Store hash
           var hash = this.hash;

           // Using jQuery's animate() method to add smooth page scroll
           // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
           $('html, body').animate({
             scrollTop: $(hash).offset().top
           }, 1000, function(){
        
             // Add hash (#) to URL when done scrolling (default click behavior)
             window.location.hash = hash;
           });
         } // End if
       } // End if
     });
   });
</script>