<% content_for :body_class, "sign_in" %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 signinbg">
    <div class="logo">login</div>
    <div class="login-form-1">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {  id: "login-form", class: "text-left" }) do |f| %>
        <div class="login-form-main-message"></div>
        <div class="main-login-form">
          <div class="login-group">
            <div class="form-group">
              <label for="lg_username" class="sr-only">Email</label>
              <%= f.email_field :email, autofocus: true, placeholder: "email" , id: "lg_username" , class: "form-control" %>
            </div>
            <div class="form-group">
              <label for="lg_password" class="sr-only">Password</label>
              <%= f.password_field :password, autocomplete: "off", placeholder: "password" , id: "lg_password" , class: "form-control" %>
            </div>
          </div>
          <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div class="etc-login-form">
          <p>forgot your password? <%= link_to "Click Here" , new_user_password_path%></p>
          <p>new user? <%= link_to "Click Here" , new_user_registration_path%></p>
        </div>
      <% end %>  
    </div>
  </div>
</div>

<style type="text/css">
  .login-form-1 {
    border: 2px solid #ddd;
    width: 100%;
    max-width: 100%;
  }
  .etc-login-form p {
    font-size: 15px;
    color: #000;
  }
  .login-form-1 .form-group {
    border-bottom: 2px solid #efefef !important;
  }
  .login-form-1 .login-button {
    width: 60px;
    height: 60px;
    top: 60%;
  }
  .logo {text-align: center; color: #000;}
  .sign_in{
    height: 100%;
    width: 100%;
    background: url(/assets/sign_in-bg.jpg);
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    red;
     opacity: 1 !important;
}
</style>