<div class="row" style="padding: 0 50px;">
  <div class="col-md-12">
    <div class="col-md-9">
      <div id="solutions" class="solutions" style="margin-top: 126px; ">
        <% @solutions.limit(3).order('created_at DESC').each  do |solution|%>
          <div class="card">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-1">
                  <h4 class="total_votes">
                    <%= solution.votes.count%>
                  </h4>
                </div>
                <div class="col-md-11">
                  <%= link_to solution.question , solution_path(solution), class: "sol-title" %>
                </div>
              </div>
              <div class="col-md-12">
                <span class="descriptive-text">
                  <%= truncate solution.answer.html_safe, length: 300 %>
                </span>
              </div>
            </div>
                <div class="read-more" style="padding-right: 20px; padding-top: 20px;">
                  <%= link_to "read more ...", solution_path(solution)%> 
                </div>
                <div class="tags" style="padding-top: 20px;">
                  Tags: <%= raw solution.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join('') %>
                </div>
          </div>
        <% end %>
        <div class="pagination">
          <%= paginate @solutions %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="margin-top: 126px;"><span class="tag-font-size" style="font-size: 20px;">Tags:</span>
        <div class="tag_cloud" >
          <% tag_cloud Solution.tag_counts, %w[s m l] do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class: css_class %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container text-center">
      <p>Copyright &copy; RailsWay 2016</p>
  </div>
</footer>
