<section>
  <div class="row">
    <div class="col-md-8 col-md-offset-2" id="solution">
      <h6 class="post-title">
        <%= @solution.question %>
       </h6>
      <p class="post-subtitle">
        <span id="post-answer" class="post-answer-custom-styling">
          <%= @solution.answer.html_safe %>
        </span>
      </p>
      <p>
        Votes: <%= @solution.votes.count %>
      </p> 
      Tags: <%= raw @solution.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
      
    </div>
  </div>
</section>
<div class="row">
  <div class="col-md-8 col-md-offset-2" id="disqs-solution">
    <div class="disqus-adjustment">
      <%= render 'disqus'%> 
    </div>
  </div>
</div>

<footer>
  <div class="container text-center">
    <p>Copyright &copy; RailsWay 2016</p>
  </div>
</footer>

<style type="text/css">
.intro {
    background: url(/assets/show-posts.jpg);
  }
.solutions-show{
  width: 1150px;
  word-wrap: break-word;
}  
.post-answer-custom-styling img {
  height: 500px !important;
}
</style>  