<!DOCTYPE html>
<html>
  <head>
    <title>RailsWay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= content_for :body_class %>">
    <%if flash[:notice]%>
      <p class="notice" style="text-align: center;"><%= notice %></p>
      <p class="alert" style="text-align: center;"><%= alert %></p>
    <% end %>

    <%= render "/custom/navbar.html.erb"%>
    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  </body>
</html>
