<!DOCTYPE html>
<html>
  <head>
    <title>RailsWay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= growlyflash_static_notices %>

  </head>

  <body class="<%= content_for :body_class %>">
  
    
    <%#= render "toastr_rails/flash"%>
    <%= render "/custom/navbar.html.erb"%>
    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="text/javascript">
      
    </script>
  </body>
</html>
